.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



.text1{
    font-size: 90px;
    font-weight: 900;
    -webkit-text-stroke: 4px #000;
    color: transparent;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0px;

}

/*2nd section*/

.underline{
    font-weight: 800;
    font-size: 80px;
    position: relative;
    margin: 20px 0px;
}

.underline::after{
    content: "";
    height: 3px;
    left: 0;
    bottom: 0;
    width: 0%;
    position: absolute;
    background-color: #333;
    transition: all ease 1s;
}

.underline:hover::after{
    width: 460px;

}


/*3rd section*/


.btn:active{
    scale: 0.9;
}

.btn {
    padding: 10px 20px;
    background-color: #0c6d29;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    /* margin-right: auto;
    margin-left: auto; */
    display: flex;
    justify-content: center;
    display: inline-block;
}

.clickbutton{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

